body {
    font-family: Arial;
    background-color: #eeeeee;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.login {
    background-color: white;

    width: 300px;

    padding: 30px;

    border-radius: 10px;

    text-align: center;
}

h1 {
    margin-bottom: 25px;
}

label {
    display: block;

    text-align: left;

    margin-top: 10px;
}

input {
    width: 90%;

    padding: 10px;

    margin-top: 5px;

    border: 1px solid #ccc;

    border-radius: 5px;
}

button {
    width: 97%;

    padding: 10px;

    margin-top: 15px;

    background-color: #007bff;

    color: white;

    border: none;

    border-radius: 5px;

    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.erro {
    color: red;

    font-size: 14px;

    text-align: left;

    margin: 5px 0;
}
